* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
.box {
    background-color: rgb(0, 170, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.eldar {
    color: chartreuse;
}
.eldar1 {
    color: black;
}
.box3 {
    background-color: brown;
}